.project-item {
  width: 90%;
  margin: auto;
  border: 1px solid grey;
  padding: 1rem;
  margin-bottom: 1rem;
  &:hover {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 446px) {
  .project-item {
    width: 100%;
    padding: .4rem;
  }
}
