.project-item {
  width: 95%;
  margin: auto;
  border: 1px solid grey;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.55);
  &:hover {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 446px) {
  .project-item {
    width: 100%;
    padding: .4rem;
    background-color: rgba(255, 255, 255, 0.35);
  }
}