.title {
  font-family: "Bungee Inline", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content {
  padding: 1rem;
  margin: auto;
  border-radius: 1px;
  border: 1px solid grey;
  text-align: left;

  .grid {
    display: grid;

    .heading {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
    }

    .projectUrl {
      width: 12rem;

      .projectLink {
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .gitLink {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 446px) {
  .title {
    font-size: 1.7rem;
  }
}
